<div class="widget-container clearfix">
    <div class="float-right">
        <div class="search-btn float-left" *ngIf="searchComponentVisibility">
                <app-search-widget></app-search-widget>
        </div>
        <div class="cart-btn float-right" *ngIf="cartComponentVisibility">
              <app-cart-widget [cartItemLength]="cartitem"></app-cart-widget>
        </div>
        
    </div>
    <div class="backLinkContainer float-left" *ngIf="backButtonLinkVisibilty">
            <a routerLink="product-catalog" class="back-btn-link">
              Back to Product Catalog
            </a>
        </div>
</div>
