.price-range-filter-container{
    height: 100vh;
    box-shadow: 0px 6px 10px #00a8e1;
}

.item-display-container{
    .item-wrapper{
        padding:10px;
        .btn{
            background-color:#00a8e1;
        }
    }
   
   

}