.price-range-filter-container{
    height: 100vh;
    box-shadow: 0px 6px 10px #00a8e1;
}

.item-display-container{
    .item-wrapper{
        padding:10px;
        .pic-container{
            height: 180px;
            width: 270px;
            background: green;
            margin: 0 auto;
        }
        .product-name-container{
            label{
                color:#000;
            }
            span{
                color:#000;
            }
        }
        .price-container{
            label{
                color:#000;
            }
            span{
                color:#000;
            }

        }
         .btn-container{
            .btn{
                color:#000;
            }
        }
    }
   
   

}