<div class="row">
      <div class="col-md-2 col-xs-12 price-range-filter-container">
          <div class="slidecontainer">
            <!-- <app-price-range-slider></app-price-range-slider> -->
            <ul class="group-item">
                <li >Kabab's</li>
                <li><a pageScroll href="#tandoori">Tandoori / BBQ</a></li>
                <li> Chicken Dishes</li>
                <li> Mutton Dishes</li>
                <li> Biryani/ Rice</li>
                <li> Veg.</li>
                <li> Roti</li>
                <li> Rolls & Raps</li>
                <li> Desert</li>
                <li> Drinks</li>

            </ul>
            </div>
      </div>
      <div class="col-md-10 col-xs-12 item-display-container clearfix">
       <div class="sorting-container clearfix">
            <!-- <div class="sortingcontainer-wrapper float-right">
               <app-sorting></app-sorting>
            </div> -->
       </div>
       <div class="item-container">
          <h3>Kabab</h3>
              <div #kabab class="row kebab-container item-wrapper-items" *ngIf="kebabList && kebabList.length">
               
                        <div class="col-md-4 col-xs-12 item-wrapper" *ngFor="let item of kebabList">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" [src]="item.itemUrl" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">{{item.itemName}}</h5>
                                  <p class="card-text">Rs. {{item.price}}/-</p>
                                  <button type="button" (click)=addTocart(item) class="btn btn-primary">Add To cart</button>
                                </div>
                              </div>
                        </div>    
              </div>
              <h3>Tandoori / BBQ</h3>
              <div #tandoori class="row tandoori-container item-wrapper-items" *ngIf="tandooriList && tandooriList.length">
                <div class="col-md-4 col-xs-12 item-wrapper" *ngFor="let item of tandooriList">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" [src]="item.itemUrl" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">{{item.itemName}}</h5>
                          <p class="card-text">Rs. {{item.price}}/-</p>
                          <button type="button" (click)=addTocart(item) class="btn btn-primary">Add To cart</button>
                        </div>
                      </div>
                </div>    
      </div>
       </div>
       <div class="no-item-container" *ngIf="!kebabList.length">
         <div class="row">
            <div class="col-md-4 col-xs-12 no-item-wrapper">
                <p>No Product Found</p>
            </div>
         </div>
          
      </div>

      </div>
</div>
